<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRdBUu1CMmdsm_f5MDj6AyyTZhq4mPK98_SiA&usqp=CAU');background-repeat: no-repeat;  background-size:cover;">
	<nav class="navber navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i> COLLABORATIVE_TEXT_EDITOR</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<% if(currentUser) { %>	
						<li><a href="" id="save">Save</a></li>
						<li><a href="/">Upload</a></li>
					<% }%>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<% if(!currentUser) { %>
						<li><a href="/login">Login</a></li>
						<li><a href="/register">Sign Up</a></li>
					<% } else { %>
						<li><a href="">Signed in as <%= currentUser.username %></a></li>
						<li><a href="/logout">Logout</a></li>
					<% } %>
				</ul>
			</div>
		</div>		
	</nav>
	<div class="container" style="font-family: Impact, Charcoal, sans-serif;">
		<div style="margin:200px";>
			<h1 >Welcome to the Collaborative-Text-Editor</h1>
			<h4>We Create Whatever You Think...</h4>
		</div>
	</div>
<%- include("./partials/footer.ejs") %>
