<!DOCTYPE html>
<html>
<head>
	<title>Text Editor</title>
</head>
<body>
	<h1>Upload File To IPFS</h1>
	<form action="upload" method = "POST" enctype = "multipart/form-data">
		<label>File Name</label>
		<input type="text" name="fileName">
		<br><br>
		<label>Uplad file</label>
		<input type = "file" name="file">
		<br><br>
		<input type="submit" value="Submit">
	</form>
</body>
</html>