<%- include("./partials/header.ejs") %>
<h1 style="text-align:center">
	<p>Welcome to the TEXT EDITOR</p>
</h1>
<div class="container">
	<div class= "row">
		<div class="col-md-9">
			 <textarea rows="27" cols="105" id="editor" style="background-color:dimgrey;color:white" placeholder="Type Your Text..."></textarea>
		</div>
		<div class="col-md-3">
			<h3>User Chats</h3>
			<form id="message-form">
				<div class="form-group" style="float:left;">
					<input type="text" name="message" placeholder="Message">
				</div>
				<div class="form-group" style="float:right;">
					<button class="btn btn-sm btn-primary" type="submit" id="submit-btn">Send</button>
				</div>
				<div class="form-group">
					<button class="btn btn-sm btn-primary" type="submit" id="send-location">Send Location</button>
				</div>
			</form>
			<div id="mess">
				
			</div>
			<script src = "/socket.io/socket.io.js"></script>
			<script src = "/js/client.js"></script>
		</div>
	</div>
</div>
<%- include("./partials/footer.ejs") %>
